<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.1.RELEASE.xsd">

    <!-- access to resources in application server -->
        <bean id="cisDS" class="org.springframework.jndi.JndiObjectFactoryBean">
                <property name="jndiName" value="jdbc/cis"/>
                <property name="lookupOnStartup" value="false"/>
                <property name="cache" value="true"/>
                <property name="proxyInterface" value="javax.sql.DataSource"/>
        </bean>

    
    <bean id="HibernateSessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
        <property name="dataSource" ref="cisDS"/>
        <property name="packagesToScan" value="com.igo.fund.db"/>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</prop>
                <prop key="hibernate.show_sql">true</prop>
                <prop key="hibernate.hbm2ddl.auto">validate</prop>
                <prop key="hibernate.current_session_context_class">thread</prop>
<!--                <prop key="hibernate.transaction.factory_class">org.hibernate.transaction.JTATransactionFactory</prop>-->
<!--                <prop key="jta.UserTransaction">java:comp/UserTransaction</prop> -->
                <prop key="hibernate.query.factory_class">org.hibernate.hql.ast.ASTQueryTranslatorFactory</prop>
                <prop key="hibernate.default_batch_fetch_size">16</prop>
                <prop key="hibernate.order_updates">true</prop>
                <prop key="hibernate.use_sql_comments">true</prop>
                <prop key="hibernate.jdbc.batch_size">25</prop>
                <prop key="hibernate.jdbc.use_get_generated_keys">false</prop>
                <prop key="hibernate.connection.autocommit">false</prop>
                <prop key="hibernate.connection.release_mode">auto</prop>
                <prop key="hibernate.jdbc.batch_versioned_data">true</prop>
                <prop key="hibernate.jdbc.use_get_generated_keys">true</prop>
                <prop key="hibernate.transaction.auto_close_session">false</prop>
                <prop key="hibernate.transaction.flush_before_completion">false</prop>
                <prop key="hibernate.connection.isolation">4</prop>
                <prop key="hibernate.generate_statistics">true</prop>
<!--            cache-->
                <prop key="hibernate.cache.use_second_level_cache">true</prop>
                <prop key="hibernate.cache.use_query_cache">true</prop>
                <prop key="hibernate.cache.region.factory_class">net.sf.ehcache.hibernate.SingletonEhCacheRegionFactory</prop>
            </props>
        </property>
    </bean>


</beans>
